<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <!-- Local CSS -->
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1>
        ISQA_4 - Issue Tracker
      </h1>
    </header>
    <div>
      <p>Add projects and issues using form 1. Update issues by specifying the project name and issue id in form 2, and update your chosen fields. Delete your issue using form 3 by providing the project name and issue id.</p>
      <p>To see a project and all its issues enter /{projectname}/ into the url.</p>
    </div>
    <hr style='margin: 50px'>
    <div id='testui' style='margin-left: 5%' class="center">
      <h2 style="text-align: left">API Tests:</h2>
      <h3>Specify your project and submit an issue for that project (if project does not already exist one will be created)</h3>
        
      <form id="testForm" class="border">
        <div class="md-form">
          <input type='text' id='form-1-issue-project' name='issue_project' required='' class="form-control">
          <label for='form-1-issue-project'>*Project</label>
        </div>
        <div class="md-form">
          <input type='text' id='form-1-issue-title' name='issue_title' required='' class="form-control">
          <label for='form-1-issue-title'>*Title</label>
        </div>
        <div class="md-form">
          <textarea type='text' id='form-1-issue-text' name='issue_text' required='' class="md-textarea form-control"></textarea>
          <label for='form-1-issue-text'>*Text</label>
        </div>
        <div class="md-form">
          <input type='text' id='form-1-created-by' name='created_by' required='' class="form-control">
          <label for='form-1-created-by'>*Created By</label>
        </div>
        <div class="md-form">
          <input type='text' id='form-1-assigned-to' name='assigned_to' class="form-control">
          <label for='form-1-assigned-to'>Assigned To (Optional)</label>
        </div>
        <div class="md-form">
          <input type='text' id='form-1-status-text' name='status_text' class="form-control">
          <label for='form-1-status-text'>Status Text (Optional)</label>
        </div>
        <button type="submit" class="btn btn-success">Submit Issue</button>
      </form><br>
      <h3>Specify your project and update an issue on that project (Change any or all to update issue on the _id supplied)</h3>
      <form id="testForm2" class="border">
        <div class="md-form">
          <input type='text' id='form-2-issue-project' name='issue_project' required='' class="form-control">
          <label for='form-2-issue-project'>*Project</label>
        </div>
        <div class="md-form">
          <input type='text' id='form-2-id' name='_id' required='' class="form-control">
          <label for='form-2-id'>*Issue Id</label>
        </div>
        <div class="md-form">
          <input type='text' id='form-2-issue-title' name='issue_title' class="form-control">
          <label for='form-2-issue-title'>Title (Optional)</label>
        </div>
        <div class="md-form">
          <textarea type='text' id='form-2-issue-text' name='issue_text' class="md-textarea form-control"></textarea>
          <label for='form-2-issue-text'>Text (Optional)</label>
        </div>
        <div class="md-form">
          <input type='text' id='form-2-created-by' name='created_by' class="form-control">
          <label for='form-2-created-by'>Created By (Optional)</label>
        </div>
        <div class="md-form">
          <input type='text' id='form-2-assigned-to' name='assigned_to' class="form-control">
          <label for='form-2-assigned-to'>Assigned To (Optional)</label>
        </div>
        <div class="md-form">
          <input type='text' id='form-2-status-text' name='status_text' class="form-control">
          <label for='form-2-status-text'>Status Text (Optional)</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="form-2-close-issue-checkbox" name="open" value="false">
          <label class="form-check-label" for="materialUnchecked">Check to Close Issue</label>
        </div>
        <button type="submit" class="btn btn-success">Update Issue</button>
      </form><br>
      <h3>Delete issue on specified project</h3>
      <form id="testForm3" class="border">
        <div class="md-form">
          <input type='text' id='form-3-issue-project' name='issue_project' class="form-control" required=''>
          <label for='form-3-issue-project'>*Project</label>
        </div>
        <div class="md-form">
          <input type='text' id='form-3-issue-id' name='_id' class="form-control" required=''>
          <label for='form-3-issue-id'>*Issue Id</label>
        </div>
        <button type="submit" class="btn btn-success">Delete Issue</button>
      </form>
      <code id='jsonResult'></code>
    </div>
    <hr style='margin: 50px; margin-top: 200px'>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('#testForm').submit(function(e) {
          let issueProject = $(this).serializeArray()[0].value;
          $.ajax({
            url: '/api/issues/' + issueProject,
            type: 'post',
            data: $('#testForm').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          }) 
          e.preventDefault();
          alert('Issue added. (To see a project and all its issues enter /{projectname}/ into the url).')
        })
        $('#testForm2').submit(function(e) {
          let issueProject = $(this).serializeArray()[0].value;
          $.ajax({
            url: '/api/issues/' + issueProject,
            type: 'put',
            data: $('#testForm2').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
          alert('Issue updated. (To see a project and all its issues enter /{projectname}/ into the url).')
        });
        $('#testForm3').submit(function(e) {
          let issueProject = $(this).serializeArray()[0].value;
          $.ajax({
            url: '/api/issues/' + issueProject,
            type: 'delete',
            data: $('#testForm3').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
          alert('issue deleted. (To see a project and all its issues enter /{projectname}/ into the url).')
        });
      });
   </script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
  </body>
</html>
